:root {
    --first-color: #6c63ff;
    --second-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  body {
    margin-top: 100px;
  }
  h1 {
    font-size: 96px;
  }
  
  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 24px;
    opacity: 0.7;
  }
  
  p {
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
  }
  .navbar {
    margin-left: 120px;
  }
  
  .app {
    background: white;
  }
  
  .btn {
    background: var(--first-color);
  }
  
  .btn-primary:hover {
    color: navy;
    background-color: var(--first-color);
  }
  
  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .navigation-links :hover {
    color: navy;
  }
  .contact-link {
    background: var(--first-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .about-link {
    color: var(--first-color);
    border: 1px solid var(--first-color);
  }
  
  .homepage-link {
    color: var(--first-color);
    text-align: center;
    display: block;
  }
  
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--first-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  